@import 'tailwindcss';

@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-accent: #7ed957;
  --color-secondary: #0097b2;
  --color-primary: #5ea2ef;
}

;

@font-face {
  font-family: 'LSBold';
  src: url('font/LeagueSpartan-Bold.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'LSSemiBold';
  src: url('font/LeagueSpartan-SemiBold.woff2') format('woff2');
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'LSBold', sans-serif;
}

.rating {
  margin-left: 1%;
  display: inherit;
}

.rating-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.label {
  text-wrap: normal;
}

a {
  text-decoration: solid;
  color: var(--color-primary);
}